In [2]:
# Q1
kor=80
eng=75
math=55
print((kor+eng+math)/3)

70.0

In [3]:
# Q2
print(13%2)

1

In [6]:
# Q3
info='881120-1068234'
print(info[:6],info[7:])

881120 1068234

In [7]:
# Q4
print(info[7])

1

In [11]:
# Q5
a = "a:b:c:d"
print(a.replace(':','#'))

a#b#c#d

In [14]:
# Q6
a=[1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [20]:
# Q7
a=['Life', 'is', 'too', 'short']
b=" ".join(a)
print(b)

Life is too short

In [22]:
# Q8
a=(1,2,3)
a=a+(4,)
print(a)

(1, 2, 3, 4)

In [24]:
# Q10
a = {'A':90, 'B':80, 'C':70}
result=a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [26]:
# Q11
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b=list(set(a))
print(b)

[1, 2, 3, 4, 5]

In [27]:
# Q12
a = b = [1, 2, 3]
a[1] = 4
print(b)
# [1, 4, 3]이 출력된다. 
# a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.

[1, 4, 3]