# 점프 투 파이썬
책 url = https://wikidocs.net/book/1

Q1. 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.  
과목 점수  
국어 80  
영어 75  
수학 55

In [5]:
import numpy as np

In [14]:
dict1 = {'kor': 80, 'eng': 75, 'math': 55}
score = list(dict1.values())
np.mean(score)

dict_values([80, 75, 55])

Q2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [18]:
if 13 % 2 == 1 :
    print('홀수')
else :
    print('짝수')

홀수

Q3. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.  
> ※ 문자열 슬라이싱 기법을 사용해 보자.

In [22]:
id_number = '881120-1068234'
id_number.split('-')

['881120', '1068234']

In [35]:
n = '19' + id_number[:6]
print('홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분: {}'.format(n))

e = id_number.split('-')[1]
print('그 뒤의 숫자 부분: {}'.format(e))

홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분: 19881120
그 뒤의 숫자 부분: 1068234

Q4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

> pin = "881120-1068234"  
> ※ 문자열 인덱싱을 사용해 보자.

In [40]:
pin = "881120-1068234"
sex = pin.split('-')[1][0]

if sex == '1' :
    print('남자')
else :
    print('여자')

남자

Q5. 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

> a = "a:b:c:d"

In [44]:
a = "a:b:c:d"

# replace(바뀌게 될 문자열, 바꿀 문자열)
a.replace(':', '#')

'a#b#c#d'

Q6. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

※ 리스트의 내장 함수를 사용해 보자.

In [64]:
a =  [1, 3, 5, 4, 2] 
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

Q7. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [70]:
a = ['Life', 'is', 'too', 'short'] 
print(' '.join(a))

Life is too short

Q8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

※ 더하기(+)를 사용해 보자.

In [77]:
t =(1, 2, 3)
t += (4,)
t

(1, 2, 3, 4)

Q9. 다음과 같은 딕셔너리 a가 있다.
> a = dict()  
 a  
{} 

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

In [79]:
a = dict()
a

{}

In [80]:
a['name'] = 'python'
a

{'name': 'python'}

In [81]:
a[('a',)] = 'python'
a

{'name': 'python', ('a',): 'python'}

In [82]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

→ 딕셔너리를 만들 때 Key에 리스트는 쓸 수 없기 때문에 오류가 발생했다.

In [84]:
a[250] = 'python'
a

{'name': 'python', ('a',): 'python', 250: 'python'}

Q10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

> a = {'A':90, 'B':80, 'C':70}  

※ 딕셔너리의 pop 함수를 사용해 보자.

In [88]:
a = {'A':90, 'B':80, 'C':70}
print(a['B'])
print(a.pop('B'))

80
80

Q11. a 리스트에서 중복 숫자를 제거해 보자.

> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [90]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set(a)

{1, 2, 3, 4, 5}

Q12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

> a = b = [1, 2, 3]  
 a[1] = 4  
 print(b)

In [91]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

In [93]:
print(id(a))
print(id(b))

1762713924992
1762713924992

- a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값도 변한다. a = b : a 와 b 가 완전히 동일하다는 의미.  
- 이러한 결과가 나오는 이유는  
id함수로 id(a)의 값과 id(b)의 값이 동일한것을 확인가능하다 = 변수a가 가리키는 대상과 변수b가 가리키는 대상이 동일하기 때문이다.

- a리스트 값을 바꾸더라도 b리스트에 영향을 미치지 않는 방법
1. [:] 이용  
2. copy() 모튤 이용