Q1. 다음은 Calculator 클래스이다.

class Calculator:  

    def __init__(self):  
        self.value = 0  

    def add(self, val):  
        self.value += val

위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자.   
즉 다음과 같이 동작하는 클래스를 만들어야 한다.

cal = UpgradeCalculator()  
cal.add(10)  
cal.minus(7)  

print(cal.value) # 10에서 7을 뺀 3을 출력

In [1]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

In [4]:
class UpgradeCalculator(Calculator) :
    def minus(self, a) :
        self.value -= a

In [5]:
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value) # 10에서 7을 뺀 3을 출력

3

Q2. 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자.  
즉 다음과 같이 동작해야 한다.

cal = MaxLimitCalculator()  
cal.add(50) # 50 더하기  
cal.add(60) # 60 더하기  

print(cal.value) # 100 출력

단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.

class Calculator:

    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

In [29]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

In [35]:
class MaxLimitCalculator(Calculator) :
    def add(self, val) : 
        self.value += val
        if self.value > 100 :
            self.value = 100
        else :
            self.value

In [36]:
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기

print(cal.value) # 100 출력

100

Q3. 다음 결과를 예측해 보자.

하나.

> all([1, 2, abs(-3)-3])

둘.

> chr(ord('a')) == 'a'

- all(x) 함수 :  
    반복 가능한(iterable) 자료형 x를 입력 인수로 받으며   
    이 x의 요소가 모두 참이면 True,   
    거짓이 하나라도 있으면 False를 돌려준다.

In [40]:
all([1, 2, abs(-3)-3])

False

→ 리스트 자료형 [1, 2, 0] 중에서  
- 요소 0 은 거짓이므로 False

- ord(c) 함수 :  
    문자의 유니코드 값을 돌려주는 함수

In [43]:
ord('a')

97

- chr(i) 함수 :  
    유니코드(Unicode) 값을 입력받아  
    그 코드에 해당하는 문자를 출력하는 함수

In [44]:
chr(ord('a'))

'a'

In [42]:
chr(ord('a')) == 'a'

True

Q4. filter와 lambda를 사용하여  
리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

- filter(함수이름, 그 함수에 차례로 들어갈 반복 가능한 자료형)  
- filter(function, iterable)  
- iterable : set, list, tuple

In [47]:
list(filter(lambda x: x > 0, [1, -2, 3, -5, 8, -3]))

[1, 3, 8]

Q5. 234라는 10진수의 16진수는 다음과 같이 구할 수 있다.

> hex(234)  
'0xea'

이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.

※ 내장 함수 int를 활용해 보자.

- hex(x) 함수 :  
    정수 값을 입력받아  
    16진수(hexadecimal)로 변환하여 돌려주는 함수

In [48]:
hex(234)

'0xea'

- int(x) 함수 :  
문자열 형태의 숫자나 소수점이 있는 숫자 등을  
정수 형태로 돌려주는 함수로,  
정수를 입력으로 받으면 그대로 돌려준다.

In [55]:
# 16진수 문자열 0xea를 10진수로 변경

print(int(hex(234), 16))

print(int('0xea', 16))

234
234

Q6. map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [74]:
list(map(lambda x: x*3, [1, 2, 3, 4]))

[3, 6, 9, 12]

Q7. 다음 리스트의 최댓값과 최솟값의 합을 구해 보자.

[-8, 2, 7, 5, -3, 5, 0, 1]

In [76]:
list1 = [-8, 2, 7, 5, -3, 5, 0, 1]
print('최댓값: {}'.format(max(list1)))
print('최솟값: {}'.format(min(list1)))
print('합: {}'.format(max(list1) + min(list1)))

최댓값: 7
최솟값: -8
합: -1

Q8. 17 / 3의 결과는 다음과 같다.

> 17 / 3  
5.666666666666667

위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.

In [64]:
a = 17 / 3
round(a, 4)

5.6667

Q12. time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.

> 2018/04/03 17:20:32

- time() 모듈 :  
UTC(Universal Time Coordinated 협정 세계 표준시)를 사용  
현재 시간을 실수 형태로 돌려주는 함수

In [91]:
import time

- time.strftime()함수 :  
    time.strftime('출력할 형식 포맷 코드', time.localtime(time.time()))

In [105]:
time.strftime('%Y/%m/%d %H:%M:%S')

'2022/01/11 23:50:00'

Q13. random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

- random모듈 : 난수(규칙이 없는 임의의 수)를 발생시키는 모듈

In [79]:
import random

- random.randint(a, b) : a에서 b사이의 정수 중에서 난수 값을 돌려준다.

In [83]:
random.randint(1, 45)

8

In [88]:
# 방법1

for _ in range(6) :
    n = random.randint(1, 45)
    print(n)

27
30
4
11
39
23

In [89]:
# 방법2

[random.randint(1, 45) for _ in range(6)]

[44, 40, 7, 19, 18, 9]

In [90]:
# 방법3

result = []
while len(result) < 6:
    num = random.randint(1, 45)   # 1부터 45까지의 난수 발생
    if num not in result:
        result.append(num)

print(result)

[29, 27, 7, 9, 37, 13]